<ul class="home_navigation">
  <li><button class="scroll_bttns firstScroll" data-scroll="firstScroll">scroll_1</button></li>
  <li><button class="scroll_bttns secondScroll" data-scroll="secondScroll">scroll_2</button></li>
  <li><button class="scroll_bttns thirdScroll" data-scroll="thirdScroll">scroll_3</button></li>
</ul>

<div class="home_page_holder">
  <div class="home_scroll_item" data-scroll="firstScroll">
    <div class="scroll_content">
      <div class="hp_content_area">
        <div class="scroll_desc">
          <h3>You feel freedom in your mind just like us</h3>
          <p>We partner with brands and emerging businesses to create immersive and meaningful experiences, whether digital or non-digital.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home_scroll_item" data-scroll="secondScroll">
    <div class="scroll_content">
      <div class="hp_content_area">
        <div class="scroll_desc dark_scroll">
          <h3>We are proud to bring success to our clients</h3>
          <p>We execute ideas by using technical knowledge to craft beautiful artwork</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home_scroll_item" data-scroll="thirdScroll">
    <div class="scroll_content">
      <div class="hp_content_area">
        <div class="scroll_desc">
          <h3>They alredy trust us</h3>
          <p>We execute ideas by using technical knowledge to craft beautiful artwork</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="scroller">
  <b>SCROLL DOWN</b>
  <div class="scroller_self">
    <span></span>
    <span></span>
  </div>
</div>
