<div class="home_navigation">
  <button class="scroll_bttns active firstScroll" data-scroll="firstScroll"></button>
  <button class="scroll_bttns secondScroll" data-scroll="secondScroll"></button>
  <button class="scroll_bttns thirdScroll" data-scroll="thirdScroll"></button>
  <button class="scroll_bttns forthScroll" data-scroll="forthScroll">forth</button>
</div>
<div class="home_page_holder">
  <div class="steps_scroll">
    <div class="home_scroll_item firstScroll_content" data-scroll="firstScroll">
      <div class="scroll_content">
        <div class="hp_content_area">
          <div class="scroll_desc">
            <h3>You feel freedom in your mind just like us</h3>
            <p>We partner with brands and emerging businesses to create immersive and meaningful experiences, whether digital or non-digital.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="home_scroll_item secondScroll_content" data-scroll="secondScroll">
      <div class="scroll_content">
        <div class="hp_content_area">
          <div class="scroll_desc dark_scroll">
            <h3>We are proud to bring success to our clients</h3>
            <p>We execute ideas by using technical knowledge to craft beautiful artwork</p>
          </div>
        </div>
      </div>
    </div>
    <div class="home_scroll_item thirdScroll_content" data-scroll="thirdScroll">
      <div class="scroll_content">
        <div class="hp_content_area">
          <div class="scroll_desc">
            <h3>They alredy trust us</h3>
            <p>We execute ideas by using technical knowledge to craft beautiful artwork</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home_scroll_item" data-scroll="forthScroll">
    <div class="projects" data-scroll-container>
      <div class="home_project_item"></div>
      <div class="home_project_item with_content">

        <video class="video_holder" loop muted  playsinline autoplay controls>
      		<source src="/video/shusha.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      	</video>
        <div class="home_project_desc">
          <h3>Reconstruction project of Shusha</h3>
          <p>Historical and cultural riches of Shusha, southwestern Azerbaijan, makes it more than just a city for Azerbaijanis. The key town in the Nagorno-Karabakh region was liberated from the Armenian occupation of 28 years.</p>
          <div class="work_actions">
            <a href="#" class="border_bttn">Discover project</a>
          </div>
        </div>
      </div>
      <div class="home_project_item with_content">
        <video  class="video_holder" loop muted  playsinline autoplay controls>
      		<source src="/video/topaz.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      	</video>
        <div class="home_project_desc ">
          <h3>Reconstruction project of Shusha</h3>
          <p>Historical and cultural riches of Shusha, southwestern Azerbaijan, makes it more than just a city for Azerbaijanis. The key town in the Nagorno-Karabakh region was liberated from the Armenian occupation of 28 years.</p>
          <div class="work_actions">
            <a href="#" class="border_bttn">Discover project</a>
          </div>
        </div>
      </div>
      <div class="home_project_item contacts">
        <div class="home_contacts_wrap">
          <h4>Let’s talk about it</h4>
          <p>We are always happy to discuss with you your project, idea, or just have a heart-to-heart talk.</p>
          <div class="work_actions">
            <a href="#" class="border_bttn">Write us</a>
          </div>
        </div>
        <video poster="" muted="" loop="" autoplay="" playsinline="" class="contact_video">
            <source src="/video/background_contacts.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>


<div class="scroller">
  <b>SCROLL DOWN</b>
  <div class="scroller_self">
    <span></span>
    <span></span>
  </div>
</div>
