<ul class="home_navigation">
  <li><button class="scroll_1">scroll_1</button></li>
  <li><button class="scroll_2">scroll_2</button></li>
  <li><button class="scroll_3">scroll_3</button></li>
</ul>

<div class="home_page_holder">
  <div class="home_scroll_item" data-scroll="scroll_1">
    <div class="scroll_content">
      <div class="hp_content_area">
        <div class="scroll_desc">
          <h3>You feel freedom in your mind just like us</h3>
          <p>We partner with brands and emerging businesses to create immersive and meaningful experiences, whether digital or non-digital.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="scroller">
  <b>SCROLL DOWN</b>
  <div class="scroller_self">
    <span></span>
    <span></span>
  </div>
</div>
