<div class="partners">
    <div class="main_wrap">
      <div class="partners_top_content">
        <h1>Partnership program</h1>
        <p>Integrated into website, application, or any other digital space, where individuals, companies, organizations, or other interested parties can upload and share their ideas, projects, and opinions</p>
      </div>
      <div class="wmis_wrap">
        <div class="wmis">
          <div class="left_wmis">
            <h4>What makes itspecial?</h4>
          </div>
          <div class="right_wmis">
            <ul>
              <li><p>All ideas and projects on this platform areviewed by investors and a high-level official</p></li>
              <li><p>Gives real opportunity for success</p></li>
              <li><p>Accessible Mentorship and space for development</p></li>
              <li><p>User-successs orientated</p></li>
              <li><p>Transparent system</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="partners_types">
        <h3>3 types of user</h3>
        <div class="user_grid">
          <div class="ug_item">
            <div class="ug_video">
              <video loop muted  playsinline autoplay>
            		<source src="/video/bronze.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            	</video>
            </div>
            <div class="ug_desc">
              <p>This type of user will have the opportunity to register on the platform easily and publish his or her ideas and projects for review and financig</p>
            </div>
          </div>
          <div class="ug_item">
            <div class="ug_video">
              <video loop muted  playsinline autoplay>
            		<source src="/video/silver_2.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            	</video>
            </div>
            <div class="ug_desc">
              <p>Experts, critics, businessmen, and analytics of different industries will be united under this category. They will review projects uploaded by bronze status users, they can vote for them, give some recommendations and mentorship</p>
            </div>
          </div>
          <div class="ug_item">
            <div class="ug_video">
              <video loop muted  playsinline autoplay>
            		<source src="/video/platinium.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            	</video>
            </div>
            <div class="ug_desc">
              <p>Investors and decision-makers, high-level officials.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="partners_contacts">
        <div class="home_contacts_wrap">
          <h4>Let’s talk about it</h4>
          <p>We are always happy to discuss with you your project, idea, or just have a heart-to-heart talk.</p>
          <div class="work_actions">
            <a href="#" class="border_bttn">Write us</a>
          </div>
        </div>
      </div>
    </div>
</div>
