<div class="works_page_holder">
  <div class="works_slider">
    <div class="work_slide">
      <video class="video_holder" loop muted  playsinline autoplay controls>
        <source src="/video/shusha.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      </video>
      <div class="home_project_desc">
        <h3>Reconstruction project of Shusha</h3>
        <p>Historical and cultural riches of Shusha, southwestern Azerbaijan, makes it more than just a city for Azerbaijanis. The key town in the Nagorno-Karabakh region was liberated from the Armenian occupation of 28 years.</p>
        <div class="work_actions">
          <a href="#" class="border_bttn">Discover project</a>
        </div>
      </div>
    </div>
    <div class="work_slide">
      <video class="video_holder" loop muted  playsinline autoplay controls>
        <source src="/video/topaz.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      </video>
      <div class="home_project_desc">
        <h3>Reconstruction project of Shusha</h3>
        <p>Historical and cultural riches of Shusha, southwestern Azerbaijan, makes it more than just a city for Azerbaijanis. The key town in the Nagorno-Karabakh region was liberated from the Armenian occupation of 28 years.</p>
        <div class="work_actions">
          <a href="#" class="border_bttn">Discover project</a>
        </div>
      </div>
    </div>
  </div>
</div>
