<div class="works_scroll">
  <div class="works_scroll_item" data-image="https://blobcdn.same.energy/a/65/0f/650f238b31bc1e03f2336f73cbf523a69dfdf199">
    <div class="scroll_content">
      <div class="hp_content_area">
        <div class="scroll_desc">
          <h3>Reconstruction project of Shusha</h3>
          <p>Historical and cultural riches of Shusha, southwestern Azerbaijan, makes it more than just a city for Azerbaijanis. The key town in the Nagorno-Karabakh region was liberated from the Armenian occupation of 28 years.</p>
          <div class="work_actions">
            <a href="#" class="border_bttn">Discover project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
