<footer>
    <div class="main_wrap">
      <a href="https://greencode.travel/" target="_blank" class="gc_partner">
        <div class="gc_logo"></div>
        <b>by GreenCode</b>
      </a>
      <a href="https://ooffoo.com.tr/" target="_blank" class="ooffoo_partner">
        <b>Site by</b>
        <div class="ooffo_logo"></div>
      </a>
    </div>
</footer>
