* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}


body {
font: 14px/1.4 'l', Arial, sans-serif;
z-index:0;
overflow-x: hidden;
background:black;
color:black;
--cursor-stroke: rgba(255,255,255,0.5);
--cursor-fill: none;
--cursor-stroke-width: 1px;
}

body.overflow {
overflow: hidden;
}

.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }

img {
border: 0;
}

h1, h2, h3, h4 {
font-weight:normal;
}

h1 {
font-size:2.4em;
}

h2 {
font-size:1.4em;
}

h3 {
font-size:1.2em;
}

a {
color:#3598F7;
text-decoration:none;
}

a:hover {
text-decoration:none;
}

.sim_link:hover {
text-decoration:underline;
}

ul {
list-style:none;
}

input[type='text'], select, button{
outline:none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}

input:focus {
outline:none;
}

button {
cursor: pointer;
}

b {
font-weight:normal;
}

table {
border-collapse: collapse;
}

.clear:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

* html .clear             { zoom: 1; } /* IE6 */
*:first-child+html .clear { zoom: 1; } /* IE7 */

@font-face {
    font-family: 'b';
    src: url('font/Goldman-Bold.woff2') format('woff2'),
        url('font/Goldman-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'l';
    src: url('font/NeuePlak-Light.woff2') format('woff2'),
        url('font/NeuePlak-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'r';
    src: url('font/Goldman-Regular.woff2') format('woff2'),
        url('font/Goldman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.total_wrap {
opacity: 0;
transition:all 1s cubic-bezier(.52,.01,.16,1);
}

.total_wrap.show {
opacity: 1;
}

.canvas_holder {
width: 100%;
height: 100vh;
position: fixed;
z-index: -1;
top:0px;
left:0px;
}

header {
position: absolute;
top:0px;
left: 0px;
width: 100%;
display: flex;
justify-content: space-between;
box-sizing: border-box;
padding: 40px;
align-items: center;
z-index: 10;
mix-blend-mode: screen;
}

.head_right ul {
display: flex;
}

.head_right a {
font-size: 15px;
color:rgba(255,255,255,0.6);
}

.head_right li {
margin: 0 0 0 25px;
}

.logo {
display: flex;
align-items: center;
position: relative;
}

.logo_link {
position: absolute;
width: 100%;
height: 100%;
top:0px;
left:0px;
}

.logo_self {
width: 50px;
height: 50px;
margin: 0 10px 0 0;
}

.logo_self video{
width: 100%;
}

.type {
width: 145px;
height: 50px;
background: url(img/type.svg) no-repeat left center;
background-size: contain;
}

footer {
display: flex;
width: 100%;
position: fixed;
bottom: 0px;
left: 0px;
justify-content: space-between;
padding: 0 40px 40px 40px;
box-sizing: border-box;
z-index: 10;
}

.copyright {
color:rgba(255,255,255,0.6);
font-size: 15px;
}

.scroller {
position: absolute;
width: 110px;
left: 50%;
margin: 0 0 0 -55px;
color:white;
bottom: 0px;
}

.scroller b {
color:white;
font-family: 'r';
white-space: nowrap;
display: block;
margin: 0 0 4px 0;
}

.scroller_self {
width: 2px;
height: 72px;
margin: 0 auto;
overflow: hidden;
position: relative;
}

.scroller_self span:nth-child(1){
width: 100%;
height: 72px;
background: white;
display: block;
animation: ss_1 5s infinite;
}

.scroller_self span:nth-child(2){
width: 100%;
height: 72px;
background: white;
display: block;
margin: 20px 0 0 0;
}


@keyframes ss_1 {
  0% {
    margin:0;
  }
  50% {
    margin:-92px 0 0 0;
  }
  100% {
    margin:-92px 0 0 0;
  }
}

.audio_swither {
width: 40px;
height: 25px;
border-bottom: 2px solid white;
}

.cursor {
display: none;
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		opacity: 0;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}


.content_area {
width: 100vw;
height: 100vh;
background: blue;
}

.fader {
background: black;
width: 100%;
height: 100%;
position: fixed;
top:0px;
left:0px;
z-index: 2;
display: none;
}

.preloader {
background: black;
width: 100%;
height: 100%;
position: fixed;
top:0px;
left:0px;
z-index: 1000;
}

.preloader_holder {
width: 200px;
}

.preloader_self {
width: 100%;
background: rgba(255,255,255,0.2);
height: 2px;
position: relative;
border-radius: 10px;
}

.preloader_line {
width: 0;
height: 100%;
position: absolute;
left: 0px;
top:0px;
background: white;
border-radius: 10px;
box-shadow: 0 0px 30px rgba(255,255,255,1);
transition: width 0.5s;
}

.enter_wrap {
background: black;
width: 100%;
height: 100%;
position: fixed;
top:0px;
left:0px;
z-index: 999;
}

.enter_wrap {
display: none;
}


.ew_flex {
position: absolute;
width: 100%;
height: 100%;
position: absolute;
top:0px;
left:0px;
display: flex;
justify-content: center;
align-items: center;
}

.enter {
width: 170px;
height: 170px;
position: relative;
}

.e_text {
width: calc(100% - 8px);
height: calc(100% - 8px);
position: absolute;
top:0px;
left:0px;
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
color:white;
font-family: 'r';
font-size: 25px;
background:url(img/enter.svg) no-repeat center black;
top:4px;
left: 4px;
border-radius: 100%;
transition:all .5s cubic-bezier(.52,.01,.16,1);
transform:scale(1);
}

.enter:hover .e_text{
transform:scale(0.95);
}

.e_bg {
width: 100%;
height: 100%;
border-radius: 100%;
background: url(img/eg_bg.jpg) no-repeat center center;
animation: rotating 20s linear infinite;
background-size: 300%;
}



@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {


}
