* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}


body {
font: 14px/1.4 'l', Arial, sans-serif;
z-index:0;
overflow: hidden;
background:black;
color:black;
--cursor-stroke: rgba(255,255,255,0.5);
--cursor-fill: none;
--cursor-stroke-width: 1px;
}

body.overflow {
overflow: hidden;
}

.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }

img {
border: 0;
}

h1, h2, h3, h4 {
font-weight:normal;
}

h1 {
font-size:2.4em;
}

h2 {
font-size:1.4em;
}

h3 {
font-size:1.2em;
}

a {
color:#3598F7;
text-decoration:none;
}

a:hover {
text-decoration:none;
}

.sim_link:hover {
text-decoration:underline;
}

ul {
list-style:none;
}

input[type='text'], select, button{
outline:none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}

input:focus {
outline:none;
}

button {
cursor: pointer;
}

b {
font-weight:normal;
}

table {
border-collapse: collapse;
}

.clear:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

* html .clear             { zoom: 1; } /* IE6 */
*:first-child+html .clear { zoom: 1; } /* IE7 */

@font-face {
    font-family: 'b';
    src: url('font/Goldman-Bold.woff2') format('woff2'),
        url('font/Goldman-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'l';
    src: url('font/NeuePlak-Light.woff2') format('woff2'),
        url('font/NeuePlak-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'r';
    src: url('font/Goldman-Regular.woff2') format('woff2'),
        url('font/Goldman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.total_wrap {
opacity: 0;
transition:all 1s cubic-bezier(.52,.01,.16,1);
}

.total_wrap.show {
opacity: 1;
}

.canvas_holder {
width: 100%;
height: 100vh;
position: fixed;
z-index: -1;
top:0px;
left:0px;
}

.canvas_holder:after {
width: 100%;
height: 100%;
background: #8E9AF4;
position: absolute;
top: 0px;
left: 0px;
content: '';
display: block;
mix-blend-mode: hard-light;
opacity: 0.1;
}

header {
position: absolute;
top:0px;
left: 0px;
width: 100%;
display: flex;
justify-content: space-between;
box-sizing: border-box;
padding: 40px;
align-items: center;
z-index: 10;
mix-blend-mode: screen;
}

.head_right ul {
display: flex;
}

.head_right a {
font-size: 15px;
color:rgba(255,255,255,0.6);
transition:all .3s cubic-bezier(.52,.01,.16,1);
position: relative;
}

.head_right a:after {
position: absolute;
top:100%;
left:0px;
width: 0px;
height: 1px;
background: white;
transition:all .3s cubic-bezier(.52,.01,.16,1);
content:'';
display: block;
}

.head_right a.active {
color:rgba(255,255,255,1);
}

.head_right a.active:after {
width: 100%;
}

.head_right li {
margin: 0 0 0 25px;
}

.logo {
display: flex;
align-items: center;
position: relative;
}

.logo_link {
position: absolute;
width: 100%;
height: 100%;
top:0px;
left:0px;
}

.logo_self {
width: 50px;
height: 50px;
margin: 0 10px 0 0;
}

.logo_self video{
width: 100%;
}

.type {
width: 145px;
height: 50px;
background: url(img/type.svg) no-repeat left center;
background-size: contain;
}

footer {
display: flex;
width: 100%;
position: fixed;
bottom: 0px;
left: 0px;
justify-content: space-between;
padding: 0 40px 40px 40px;
box-sizing: border-box;
z-index: 10;
}

.copyright {
color:rgba(255,255,255,0.6);
font-size: 15px;
}

.scroller {
position: absolute;
width: 110px;
left: 50%;
margin: 0 0 0 -55px;
color:white;
bottom: 0px;
}

.scroller b {
color:white;
font-family: 'r';
white-space: nowrap;
display: block;
margin: 0 0 4px 0;
}

.scroller_self {
width: 2px;
height: 72px;
margin: 0 auto;
overflow: hidden;
position: relative;
}

.scroller_self span:nth-child(1){
width: 100%;
height: 72px;
background: white;
display: block;
animation: ss_1 5s infinite;
}

.scroller_self span:nth-child(2){
width: 100%;
height: 72px;
background: white;
display: block;
margin: 20px 0 0 0;
}


@keyframes ss_1 {
  0% {
    margin:0;
  }
  50% {
    margin:-92px 0 0 0;
  }
  100% {
    margin:-92px 0 0 0;
  }
}

.audio_swither {
width: 40px;
height: 25px;
border-bottom: 2px solid white;
overflow: hidden;
}

.wave {
width: 360px;
height: 10px;
animation: audio_wave 2s linear infinite;
position: relative;
left: 0px;
}

.wave_self {
position: absolute;
top:0px;
left:0px;
width: 100%;
height: 100%;
background: url(img/wave.svg) no-repeat left center;
transition:all .3s cubic-bezier(.52,.01,.16,1);
}

.audio_swither.mute .wave_self{
background:url(img/wave_scatic.svg) no-repeat left center;
}

@keyframes audio_wave {
  from {
    left: 0px;
  }
  to {
    left: -25px;
  }
}


.cursor {
display: none;
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		opacity: 0;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}


.content_area {
width: 100vw;
height: 100vh;
}

.fader {
background: black;
width: 100%;
height: 100%;
position: fixed;
top:0px;
left:0px;
z-index: 2;
display: none;
}

.preloader {
background: black;
width: 100%;
height: 100%;
position: fixed;
top:0px;
left:0px;
z-index: 1000;
}

.preloader_holder {
width: 200px;
}

.preloader_self {
width: 100%;
background: rgba(255,255,255,0.2);
height: 2px;
position: relative;
border-radius: 10px;
}

.preloader_line {
width: 0;
height: 100%;
position: absolute;
left: 0px;
top:0px;
background: white;
border-radius: 10px;
box-shadow: 0 0px 30px rgba(255,255,255,1);
transition: width 0.5s;
}

.enter_wrap {
background: black;
width: 100%;
height: 100%;
position: fixed;
top:0px;
left:0px;
z-index: 999;
}

.enter_wrap {
display: none;
}


.ew_flex {
position: absolute;
width: 100%;
height: 100%;
position: absolute;
top:0px;
left:0px;
display: flex;
justify-content: center;
align-items: center;
}

.enter {
width: 170px;
height: 170px;
position: relative;
}

.e_text {
width: calc(100% - 8px);
height: calc(100% - 8px);
position: absolute;
top:0px;
left:0px;
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
color:white;
font-family: 'r';
font-size: 25px;
background:url(img/enter.svg) no-repeat center black;
top:4px;
left: 4px;
border-radius: 100%;
transition:all .5s cubic-bezier(.52,.01,.16,1);
transform:scale(1);
}

.enter:hover .e_text{
transform:scale(0.95);
}

.e_bg {
width: 100%;
height: 100%;
border-radius: 100%;
background: url(img/eg_bg.jpg) no-repeat center center;
animation: rotating 20s linear infinite;
background-size: 300%;
}


.home_navigation {
position: fixed;
top:100px;
color:white;
z-index: 9999999;
}

.home_navigation button {
cursor: pointer;
color:white;
font-size: 20px;
}

.dg.ac {
z-index: 9999999999999;
opacity: 0.7;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home_page_holder {
position: absolute;
width: 100%;
height: 100%;
top:0px;
left:0px;
}

.home_scroll_item {
position: absolute;
width: 100%;
height: 100%;
top:0px;
left:0px;
opacity: 0;
transition:all .5s cubic-bezier(.52,.01,.16,1);
visibility: hidden;
}

.home_scroll_item.active {
opacity: 1;
visibility: visible;
}



.scroll_content {
max-width: 1200px;
margin: 0 auto;
height: 100%;
display: flex;
height: 100%;
align-items: center;
box-sizing: border-box;
padding: 0 30px;
}

.scroll_desc {
width: 45%;
}

.scroll_desc h3{
font-family: 'r';
color:white;
font-size: 65px;
line-height: 70px;
margin: 0 0 20px 0;
display: block;
}

.scroll_desc h3 span {
position: relative;
top:20px;
opacity: 0;
}

.scroll_desc p {
color:rgba(255,255,255,0.6);
font-size: 18px;
opacity: 0;
transition-delay: 0.8s;
transition-property: opacity;
transition-duration: 1s;
transition-timing-function:cubic-bezier(.52,.01,.16,1);
}

.home_scroll_item.animate .scroll_desc p {
opacity: 1;
}

.dark_scroll h3 {
color:black;
}

.dark_scroll p {
color:rgba(0,0,0,0.6);
}

.hp_content_area {
width: 100%;
}

.dark_scroll h3 {
font-size: 47px;
line-height: 50px;
}

.about_wrap_test {
height: 5000px;
}



.works_scroll {
width: 100vw;
height: 100vh;
}

.works_scroll_item {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

.works_scroll_item .hp_content_area{
width: 100%;
display: flex;
justify-content: flex-end;
}

.works_scroll_item .hp_content_area .scroll_desc {
width: 51%;
}

.scroll_desc p{
opacity: 1;
}

.border_bttn {
font-family: 'r';
border: 2px solid white;
height: 50px;
display: inline-block;
color: white;
font-size: 18px;
padding: 10px 50px;
box-sizing: border-box;
background: transparent;
transition:all .3s cubic-bezier(.52,.01,.16,1);
}

.border_bttn:hover {
background: white;
color:#0C0E1F;
}

.work_actions {
margin: 40px 0 0 0;
}

.projects {
width: 100%;
height: 100%;
overflow-x: hidden;
}

.scroll_content_projects {
height: 5000px;
width: 200px;
background:yellow;
}

.project_video video {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}

.home_project_item {
width: 100vw;
height: 200vh;
display: flex;
justify-content: flex-end;
}

.home_project_desc {
width: 40%;
padding: 10vh 50px 0 0;
box-sizing: border-box;
}

.home_project_desc h3 {
font-family: 'r';
color: white;
font-size: 65px;
line-height: 70px;
}

.home_project_desc p {
color: rgba(255, 255, 255, 0.6);
font-size: 18px;
}


.home_project_item.contacts {
height: 80vh;
position: relative;
background: #0C0E1F;
align-items: center;
justify-content: center;
}

.home_project_item.contacts:after {
position: absolute;
top:-400px;
width: 100%;
height: 400px;
content:'';
display: block;
background: rgb(12,14,31);
background: linear-gradient(0deg, rgba(12,14,31,1) 20%, rgba(12,14,31,0) 100%);
}


.home_contacts_wrap {
text-align: center;
margin: -10vh 0 0 0;
}

.home_contacts_wrap h4 {
font-size: 105px;
font-family: 'r';
color: white;
line-height: 105px;
}

.home_contacts_wrap p{
color: rgba(255, 255, 255, 0.6);
font-size: 18px;
}

.video_holder {
width: 300px;
overflow: hidden;
position: fixed;
z-index: 99999;
top: 0px;
right: 0px;
background: yellow;
display: none;
}

.scrollbar-track {
background: none !important;
}

.scrollbar-thumb {
background:rgba(255,255,255,0.2) !important;
}

.partners {
width: 100vw;
height: 100vh;
overflow: hidden;
}

.pc_self {
height: 10000px;
}


.main_wrap {
max-width: 1200px;
margin: 0 auto;
box-sizing: border-box;
padding: 0 30px;
}

.partners_types {
width: 100%;
text-align: center;
padding: 100px 0;
}

.partners_types h3 {
color:white;
font-family: 'r';
font-size: 60px;
line-height: 60px;
margin: 0 0 30px 0;
}

.user_grid {
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 35px;
}

.ug_item {
border-radius: 20px;
background: black;
overflow: hidden;
}

.ug_desc {
font-size: 18px;
color: rgba(255, 255, 255, 0.6);
padding:0 35px 35px;
}

.ug_video {
width: 100%;
padding: 20px 0;
}

.ug_video video{
width: 100%;
mix-blend-mode: screen;
border-radius: 20px 20px 0 0;
}

.partners_top_content {
padding: 70vh 0 0 0;
text-align: center;
}

.partners_top_content h1 {
color:white;
font-family: 'r';
font-size: 75px;
line-height: 75px;
}

.partners_top_content p {
font-size: 18px;
color: rgba(255, 255, 255, 0.6);
max-width: 600px;
margin: 0 auto;
}


.wmis {
background: white;
border-radius: 20px;
display: flex;
padding: 20px 0;
}

.left_wmis {
width: 50%;
}

.left_wmis {
padding: 40px;
}

.left_wmis h4 {
font-family: 'r';
font-size: 80px;
line-height: 80px;
}

.right_wmis {
width: 50%;
}

.wmis_wrap {
padding: 200px 0 100px;
}

.right_wmis {
padding:30px 40px;
}

.right_wmis li {
height: 40px;
position: relative;
font-size: 18px;
display: flex;
align-items: center;
margin: 10px 0;
}

.right_wmis li p {
width: calc(100% - 60px);
padding: 0 0 0 20px;
box-sizing: border-box;
}

.right_wmis li:before {
width: 30px;
height: 30px;
border: 1px solid black;
border-radius: 100%;
content:'';
display: block;
}


.partners_contacts {
padding: 100px 0 200px 0;
}

.partners_contacts .home_contacts_wrap{
margin: 0px;
}


@media screen and (max-width: 1000px) {


}
